.EmployeeRow-container {
  background-color: white;
  margin-top: 20px;
  padding: 6px;
  border-radius: 5px;
}

.EmployeeRow-container > * {
  width: 25%;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.employee-row-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-row-profile-button {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.employee-row-profile-button:hover {
  font-weight: bold;
}
