.profile-team-card {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #f4f4f4;
  padding: 1rem;
  align-items: center;
}

.profile-team-card-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5rem;
}

.profile-team-card-team-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: 0.4rem;
  align-items: center;
  border-bottom-width: 0.1px;
  border-bottom-color: lightgray;
}

.profile-team-card-team-manager {
  font-size: small;
}

.profile-team-card-team-container {
  width: 90%;
}
