.background-screen {
  background-color: #ffffff;
  width: 85%;
  height: 100vh;
  background-image: url("../../../assets/background-general.png");
  background-size: cover;
  padding: 0 3rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.dashboard-screen-charts {
  height: 34vh;
}

.dashboard-screen-table {
  height: 50vh;
}
