.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100vh;
  background-color: #001d6c;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

.sidebar-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logout-button {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  background-color: #002d9c;
  padding-block: 0.25rem;
  padding-inline: 1.1rem;
  color: white;
}

.logo-sidebar {
  display: flex;
  justify-content: center;
}
