.header-container {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
  box-shadow: 0 4px 2px -2px gray;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
}
