.main-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-inline: 1rem;
  min-height: 100%;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  min-height: 30vh;
}
